[Unit]
Description=Restic Backup
Wants=network-online.target
After=network-online.target nss-lookup.target
ConditionPathExists=/usr/bin/restic
ConditionPathExists=/usr/local/sbin/%N
ConditionPathExists=/etc/%N/password.txt
ConditionPathExists=/etc/%N/paths.txt
ConditionPathExists=/etc/%N/excludes.txt

[Service]
Type=oneshot
CacheDirectory=%N
EnvironmentFile=/etc/%N/%N.env
ExecStart=/usr/local/sbin/%N
TimeoutStartSec=8h

NoNewPrivileges=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
